.capa {
  border: 2px;
  border-radius: 6px;
  width: 85%;
  height: 400px;
}

.subtitle {
  font-size: 18px;
  font-family: "Roboto Condensed";
  margin-bottom: 20px;
}

.subtitle2 {
  font-size: 14px;
  font-family: "Roboto Condensed";
}

.image {
  width: 300px;
  height: 200px;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}
