.MyTitle {
  font-size: 24px;
  font-family: "Roboto Condensed";
}

.content-wrap-post {
  min-height: 70vh;
  flex: 1;
}

.page-container-post {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
