.MyTitleModalidade {
  font-size: 24px;
  font-family: "Roboto Condensed";
}

.MySubtitleM {
  font-size: 18px;
  font-family: "Roboto Condensed";
}

.MySubtitle2M {
  font-size: 14px;
  font-family: "Roboto";
  color: dimgray;
  margin-top: -15px;
}

.relative {
  position: relative;
}

.absoluteCardM {
  position: absolute;
  right: 250px;
}

.absoluteCard2M {
  position: absolute;
  right: 180px;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
