.logo {
  font-family: "Nanum Gothic";
  font-size: 24;
  font-weight: 300;
  color: white;
}

.logoMobile {
  font-family: "Nanum Gothic";
  font-size: 14;
  font-weight: 300;
  color: white;
}

.item {
  font-family: "Roboto";
  font-size: 18;
  font-weight: 200;
  color: white;
}

.parent {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: 10px;
}

.absoluteMobile {
  position: absolute;
  bottom: 25px;
}

.userButtom {
  position: absolute;
  right: 40px;
}
